                     ASSIGNMENT -1

1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In [ ]:
"""
*  'hello'  -87.8  -  /  +  6

ans: 
    values = 'hello' , -87.8 , 6
    expression= *  , - , / , + 
    """

2. What is the difference between string and variable?

In [ ]:
"""
ans= 
 String and variable are two different things.
 Srting is a primitive data type which is a collection of alphabetical and special characters. IN python if we put any    value inside quotes it is of string type  eg = "saurabh" , "sau-rabh" , "122" .
 whereas,
 Variables are the name of the memory loacation we use to store data.
 """

3. Describe three different data types.

In [ ]:
"""
ans= 
There are many data types , 
Three of them are:
Numeric data types: int, float, complex.
String data types: str.
Sequence types: list, tuple, range.
"""

4. What is an expression made up of? What do all expressions do?

In [ ]:

"""
ans=
 Expressions are made up of operators and operands.
 Expressions produce some value or result after bring interpreted by the interpreter.
 """

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

In [ ]:
"""
ans =
As stated ,expressions are made up of operators and operands. They produce some value or result .
like  2+2-11+22*2
this is combination of arithetical operators and numerics , on which these are being operated and this expression result  37 .
whereas,
 A statement is a line of code that performs an action or a set of actions. It is a unit of execution that instructs the interpreter to carry out a specific task.
 these are many types of statement in pyhton like :
 Assignment statement .
 expression statement .
 conditional statement .
 loop statement .
 function definition statement. 
 class definition statement . 
 as per the example spam =10 , is a assignment statement.
 """

6. After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

In [ ]:
"""
ans=
the answer will be 23 . as shown below
"""

In [2]:
bacon=22
bacon +1

23

7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam'*3

In [ ]:
"""
ans=
 the value of both will be same as = 'spamspamspam'
    as shown below
    """

In [3]:
'spam'+'spamspam'

'spamspamspam'

In [4]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
"""
ans=
In Python, variable names must follow certain rules and conventions. 
Here are the reasons why "eggs" is a valid variable name while "100" is invalid:

Naming Convention: According to Python's naming convention,
variable names should start with a letter (a-z, A-Z) or an underscore (_). 
They can be followed by letters, digits (0-9), or underscores. 
Variable names cannot start with a digit.
Since "eggs" starts with a letter, it adheres to the naming convention and is considered a valid variable name.
"""

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [ ]:

"""
ans:
In Python, we can use the following three functions to convert a value to its integer, floating-point number, or string version:
1.int(): int () function is used to convert a value to an integer. It takes a parameter and returns an integer version of the value if possible. example:
num = int("11")
print(num)  # Output: 11


str(): This str() function is used to convert a value to a string. It takes a parameter and returns a string version of the value. example:
num = 42
string_num = str(num)
print(string_num)  # Output: "42"


float(): This flote() function is used to convert a value to a floating-point number. It takes a parameter and returns a floating-point version of the value if possible. example:
num = float("3.14")
print(num)  # Output: 3.14
"""

10. Why does this expression cause an error? How can you fix it?

'I have eaten' + 99 + ' burritos'

In [ ]:
"""
ans=
this code is giving error becauese we can only concatenate string to string ( not int ) .
we can fix it to make 99 as a string :

the expression now will look like:
 'I have eaten ' + '99' + ' burritos'
 #output - 'I have eaten 99 burritos'
 as shown below
 """

In [6]:
 'I have eaten ' + '99' + ' burritos'

'I have eaten 99 burritos'